.alert {
  padding: 0.1em 1em;
  border-radius: 10px;
  margin: 0em;
}

.alert-warning {
  background: #fff5f5;
  border-left: 8px solid #e53e3e;
}

.alert-information {
  background: #F0FDFC;
  border-left: 8px solid #3282F6;
}
